*.zip filter=lfs diff=lfs merge=lfs -text
NetCodeProject/Assets/animation.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/k/Desktop/varit-1028/Work2022/year3term2/GDM322/NetCode/NetCodeProject/Assets/animation.zip filter=lfs diff=lfs merge=lfs -text
